doctype html
html
  head
    link(href="/css/bootstrap.min.css", rel="stylesheet")
  body
    .container
      .jumbotron
        h1 CMPE-273 Project
        p Feature List:
        p
          a.btn.btn-primary.btn-lg(href="proxyservernext", target="_blank", role="button")
            span.glyphicon.glyphicon-globe(aria-hidden="true")
            | Simple Proxy Server
        p
          a.btn.btn-primary.btn-lg(href="loadbalancernext", target="_blank", role="button")
            span.glyphicon.glyphicon-cog(aria-hidden="true")
            | Load Balancer
        p
          a.btn.btn-primary.btn-lg(href="gzip", target="_blank", role="button")
            span.glyphicon.glyphicon-road(aria-hidden="true")
            | GZipper
        p
          a.btn.btn-primary.btn-lg(href="processingtime_requestid", target="_blank", role="button")
            span.glyphicon.glyphicon-dashboard(aria-hidden="true")
            | Compute Processing Time
        p
          a.btn.btn-primary.btn-lg(href="processingtime_requestid", target="_blank", role="button")
            span.glyphicon.glyphicon-magnet(aria-hidden="true")
            | Unique request id

