doctype html
html
  head
    link(href="/css/bootstrap.min.css", rel="stylesheet")
  body
    nav.navbar.navbar-default(role="navigation")
      .col-md-12.text-center
        h2 Load Balancer
        hr
      #accordion.panel-group.col-md-8.col-md-offset-2(role="tablist", aria-multiselectable="true")
        .panel.panel-primary
          #headingTwo.panel-heading.text-center(role="tab")
            h4.panel-title
              a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
                | Load Balancer Demonstration
          .panel.panel-body(aria-labelledby="headingTwo")
            input#url-lb.form-control(type="text")
            br
            button#post-button-lb.btn.btn-success.col-md-offset-5(type="submit") Send Request!
    .container
      .row
        .col-md-12
          .panel.panel-danger
            .panel-heading Server Response:
            .panel-body.text-danger
              textarea#server-response-lb.form-control(rows="8")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/main.js")
    script.
      $('.btn-danger').on('click', function(e) {
      	e.preventDefault();
      	$(this.parentElement).find('.form-control').val('');
      });

