doctype html
html
  head
    link(href="/css/bootstrap.min.css", rel="stylesheet")
  body
    .container
      .jumbotron.col-md-6.col-md-offset-3
        h1.text-center Enter URL
        .input-group
          input#url.form-control(type="text")
          span.input-group-btn
            button#next-go-btn.btn.btn-success(type="button", onclick="goToURL(); return false;")  Go! 
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")
    script(src="/js/main.js")

